
    <div class="content-container">
        <div class="content-area">
            <h3>What is Careerbook? </h3>
            <p>career book is for younger people where aspirant decides what career option he/she wants to choose and accordingly from a pool of mentors he chooses one where he and mentor starts writing his book and our tool helps him to decide the story as in what options and skills he needs to develop to achieve his goal. The tool can have various tech influences who could act as role model for the kid. This is quite vast idea. Need to scope this down and refine it. This could be more like a visualization and assessment tool helping the aspirant to create his own story.  </p>
        </div>
        <nav class="sidenav">
            <section class="sidenav-content">

                <section class="nav-group collapsible">
                    <input id="tabexample1" type="checkbox">
                    <label for="tabexample1">Goals</label>
                    <ul class="nav-list">
                        <li><a href="..." class="nav-link">Short term Goals</a></li>
                        <li><a href="..." class="nav-link">Long term Goals</a></li>
                        
                        
                    </ul>
                </section>

                <section class="nav-group collapsible">
                    <input id="tabexample2" type="checkbox">
                    <label for="tabexample2">Tasks</label>
                    <ul class="nav-list">
                        <li><a href="..." class="nav-link">Assignments</a></li>
                        <li><a href="..."class="nav-link">Projects</a></li>
                    </ul>
                </section>

                <section class="nav-group collapsible">
                    <input id="tabexample3" type="checkbox">
                    <label for="tabexample3">Mentor</label>
                    <ul class="nav-list">
                        <li><a href="/mentor_profile" class="nav-link">Mentor Profile</a></li>
                        <li><a href="..."class="nav-link">Suggestions by Mentor</a></li>
                        <li><a href="..."class="nav-link">Q & A</a></li>
                    </ul>
                </section>

                <section class="nav-group collapsible">
                    <input id="tabexample4" type="checkbox">
                    <label for="tabexample4">Mentoring Organizations</label>
                    <ul class="nav-list">
                        <li><a href="..." class="nav-link">Codechix</a></li>
                        <li><a href="..."class="nav-link">WIT</a></li>
                    </ul>
                </section>

                <section class="nav-group collapsible">
                    <input id="tabexample5" type="checkbox">
                    <label for="tabexample5">Conferences</label>
                    <ul class="nav-list">
                        <li><a href="..." class="nav-link">Technical</a></li>
                        <li><a href="..."class="nav-link">Management</a></li>
                        <li><a href="..."class="nav-link">Empowerment</a></li>
                    </ul>
                </section>

            </section>
        </nav>
    </div>
